/* CSS */


a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.plr-0{
  padding-left: 0px;
  padding-right: 0px;
}
.p-0{
  padding: 13px;
}
.mt-6{
  margin-top: 6px;
}
.mt-19{
  margin-top: 19px;
}
.mt-50m{
  margin-top: -50px;
}
.p-15{
  padding: 15px;
}
.mt-55{
  margin-top: 55px;
}
.pt-55{
  padding-top: 55px;
}
.pt-35{
  padding-top: 35px;
}
.pb-40{
  padding-bottom: 40px;
}
.plr-100{
  padding-left: 100px;
  padding-right: 100px;
}
.fs-16{
  font-size: 16px;
}
.bg-fb{
  background-color:#3A559F;
}
.bg-tweet{
  background-color:#1da1f2;
}
.bg-google{
  background-color:#dd4b39;
}
.row-head{
  margin-bottom: 22px;
}

.bg-red{
  background-color: #d06f6e;
  color:white;
}
.text-red{
  color: #d06f6e;
}

.text-white{
  color: #ffffff;
}

.bg-lightgrey{
  background-color: #f5f5f5;
}
.bg-darkgrey{
  background-color: #e4e4e4;
}

.btn-theme{
  border-radius: 40px;
  padding: 8px 16px;
  border:1px solid transparent;
  color: #ffffff;
  transition: 0.5s;
  font-size: 16px;
  background-color: #ff444d;
}
.btn-theme:hover{
  border: 1px solid transparent;
  color: #ffffff;
  transition: 0.5s;
  background-color: #d92b33;
}
.btn-light{
  border-radius: 40px;
  padding: 8px 16px;
  border:2px solid #d06f6e;
  color: #d06f6e;
  transition: 0.5s;
  font-size: 12px;
  text-transform: uppercase;
  background-color: white;
}
.btn-light:hover{
  color: white;
  transition: 0.5s;
  background-color: #d06f6e;
}
.floater{
  position: absolute;
}
.shadow{
  box-shadow: 0 1px 3px rgba(0,0,0,.11);
}

.pad{
  padding: 20px;
}
.no-pad{
  padding: 0;
}
.inline{
  display: inline-flex;
}
.border-b{
  border-bottom: 1px solid #efefef;
}
.border-r{
  border-right: 1px solid #efefef;
}

/* --------------------------single page banner css */
.banner-head{
  background-image: url('../myimages/single-banner.jpg');
  background-size: cover;
  color:white;
  padding: 6px;
}
.banner-head .breadcrumb{
  background-color: transparent;
  padding: 0 2px;
  margin-bottom: 5px;
  margin-top: 7px;
}
.banner-head .breadcrumb li,.banner-head .breadcrumb li a{
  color: white
}
.banner-head h2{
  margin-top: 10px;
}
.banner-head .breadcrumb a{
  color: #333;
  transition: 0.5s;
}
.banner-head .breadcrumb a:hover{
  color: #d83f87;
  transition: 0.5s;
}


/*---------------------------top bar css*/

.top-bar .info p:first-child{
  margin-top: 14px;
  color: #444;
  margin-bottom: 2px;
}
.top-bar .info p:nth-child(2){
  color:rgba(68,68,68,.4);
  font-size: 13px;
}
.top-bar .col-md-7 .row{
  margin-top: 5px;
}
.top-bar .inline img{
  height: 55px;
  margin-top: 11px;
  margin-right: 10px;
}
/*---------------------------navbar css*/
.nav-sec{
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
}
.navbar{
  margin-bottom: 0;
  box-shadow: 0px 2px 4px #e6e6e6;
}
.dropdown:hover>.dropdown-menu{
  display: block;
}
.navbar .navbar-nav li a{
  color:#444;
  border-bottom: 2px solid white;
  transition: 0.5s;
  font-size: 13px;
  padding: 13px 12px;
  text-transform: uppercase;
}
.navbar .navbar-nav li a:hover{
  border-color: #333;
  transition: 0.5s;
  background-color: transparent
}
.navbar .dropdown-menu li{
  padding: 10px;
}

.navbar .dropdown-menu li a:hover{
  border-color: white;
}
.nav-img{
  height: 79px;
}
/*-------------------carousel css*/
.carousel-control.left{
  background-image: none!important;
}
.carousel-control.right{
  background-image: none!important;
}
.carousel-indicators {
    bottom: 60px;
}

/* -------------------------APPOINTMENT SEC banner bottom */
.appointment-sect{
  margin-top: -4%;
}
.app-form{
  padding: 20px;
  border-radius: 60px;
}
.app-form h3{
  margin-top: 23px;
  margin-left: 20px;
}
.banner-contact-n {
  margin-top: 16px;
}
.banner-contact-n .form-control{
  border-radius: 25px;
  height: 42px;
  background-color: #b96261;
  border-color: #b96261;
}



/* ----------------------------- SIDEBAR SECTION */
.service-col3{
  background-color: #f6d2d2;
  padding-top: 15px;
}
.service-col3 h5{
  font-weight: 700;
  margin-left: 25px;
}
.sidelist ul{
  padding-left: 0;
}
.sidelist ul li{
  list-style-type: none;
  padding: 10px 15px;
  margin: 5px;
  transition: 0.5s;
  border: 1px solid #e6e6e6;
  border-radius: 11px;
}
.sidelist ul a{
  text-decoration: none;
  color: #333;
  margin-top: 8px;
}
.sidelist ul .active,
.sidelist ul a:hover li{
  background-color: #ff3f4f;
  color: white;
  border-radius: 11px;
  transition: 0.5s;
}
/* -------------------------service section index*/
.service-col-n h4{
  margin-top: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 17px;
}
.service-col-n p{

  font-size: 13px;
  margin-bottom: 27px;
}

.service-list ul{
  padding: 0;
}
.service-list .sidelist{
  background-color: #f6d2d2;
  padding: 10px;
}
.service-list ul li{
  color:#333;
  border: 0;
  padding: 5px 10px;
}
.service-list .sidelist ul .active, .service-list .sidelist ul a:hover li{
  background-color: transparent;
  color:#333;
}

/*
========================================================= TESTIMONIAL SEC
*/
.testimonial-sec{
  background-image: url('../myimages/bgn.jpg');
  background-size: cover;
}
.testimonial-sec .fa-quote-left{
  font-size: 24px;
  color:#e23b4d;
}
.testimonial-sec p{
  font-size: 13px;
}

.heading{
  position: relative;
  margin-bottom: 35px;
}
.heading:after{
  content: '';
  width: 44px;
  border: 1px solid #333;
  position: absolute;
  top: 139%;
  left: 0;
}
.sub-heading{
  font-size: 16px;
}

/*
========================================================= our DOCTOR SEC
*/
.doc-sec{
  background-image: url('../myimages/bgn-grey.jpg');
  background-size: cover;
}


/*
========================================================= ABOUT DOCTOR SEC
*/
.name-sec .heading{
  margin-top: 0;
}

/*
========================================================= contact SEC
*/
.app-form-n .form-control{
  border-radius: 20px;
  background-color: #efefef;
}
.details-col-n img{
  margin: auto;
}

.contact-page form .form-control{
  background-color: rgba(0,0,0,.07);
  border-radius: 50px;
  border: 0px solid #ccc;
  box-shadow: none;
  padding: 22px;
}
.contact-page form .textarea{
  border-radius: 22px;
}
.contact-form-n{
  margin-top: 192px;
}
.contact-page .details-col-n img{
  width: 30%;
  margin-bottom: 23px;
}
/*
========================================================== FOOTER
*/
footer{
  color:white;
}
.top-footer{
  background-color: #ebbebe;
}
.top-footer .floater{
  background-color: white;
  padding: 5px;
  position: relative;
  border-radius: 70px;
}
.top-footer .floater img{
  margin: auto;
  width: 30%;
}
.text-dark{
  color:#333;
}
.top-footer .fa{
  padding: 8px;
  font-size: 18px;
}
.top-footer .col-md-10 .fa{
  padding: 16px;
  font-size: 24px;
  margin-top: 10px;
}

.top-footer h2{
  margin-top: 22px;
}
.top-footer .fa-facebook{
  margin-left: 112px;
}
.top-footer ul{
  list-style-type: none;
}
.top-footer ul li{
  margin: 8px;
}
.top-footer ul li a{
  color:#333;
  text-decoration: none;
}


.bottom-footer{
  background-color: #d06f6f;
  padding: 12px;
}
.bottom-footer p{
  margin: 0
}

/*
============================================= MISC
*/
.single-banner{
  background-image: url('https://www.baja-medical-directory.com/wp-content/themes/medical-directory/medical-directory/assets/img/banner-breadcrumb.jpg');
  background-size:cover;
  color:white;
  padding: 40px;
}
.table>tbody>tr>td{
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,.1);
  padding: 9px;
  font-size: 12px;
}
.index-details .row{
  padding-left: 25px;
}


/*
============================================= about page
*/
.about-doc-sec{
  background: linear-gradient(-45deg, #e0e0e0 20%,#FFFFFF 70%);
}
.about-doc-sec p{
  font-size: 16px;
}
.about-doc-sec li{
  font-size: 16px;
}
.profession-ul li{
  position: relative;
  list-style-type: none;
  margin-bottom: 8px;
}
.profession-ul li:before{
  content: "\f00c";
  font-family: FontAwesome;
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 0px;
  left: -27px;
  color: #f34b33;
}
.qualifications-sec-n{
  background-image: url('../myimages/bgn.jpg');
  background-size: cover;

}
.qualifications-sec-n .nav-pills>li.active>a, .qualifications-sec-n .nav-pills>li.active>a:focus, .qualifications-sec-n .nav-pills>li.active>a:hover {
  color: #444;
  background-color: transparent;
  border-bottom: 1px solid #390571;
  border-radius: 0;

}
.qualifications-sec-n .nav-pills>li.active>a, .qualifications-sec-n .nav-pills>li.active>a:focus, .qualifications-sec-n .nav-pills>li.active>a:hover{

}
.qualifications-sec-n .nav>li>a:focus, .qualifications-sec-n .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #4c4c4c;
}
.qualifications-sec-n .nav>li>a{
  font-size: 1.12em;
  padding: 10px 10px 10px 10px;
  color: #4c4c4c;
}
.qualifications-sec-n .tab-row-n{
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.qualifications-sec-n .tab-content-n{
  padding: 30px 30px 30px 50px;
  text-align: justify;
}
.qualifications-sec-n .tab-content-n li{
  margin: 5px;
  font-size: 13px;
}


/*
============================================= speciality page
*/
.speciality-page-n .service-col-n{
  border: 1px solid #e8e8e8;
  padding: 15px;
}
.speciality-page-n .service-col-n p{
  text-align: justify;
}

/*
============================================= international patients page
*/
.inter-n  .img-responsive{
  position: absolute;
  top: 15px;
  right: -61px;
  z-index: 1;
}
.inter-content-n{
  background-color: white;
  padding: 45px 20px 45px 100px;
  box-shadow: 0px 0px 18px #d8d8d8;
}

/*
============================================= Doctors page
*/
.doctors-page .img-responsive{
  margin: auto;
}
.doctors-page .heading:after{
  left: 50%;
}
.doctors-page h4{
  line-height: 26px;
  color:#444;
}
.doctors-page .team-sec{
  background-image: url('../myimages/bgn-grey.jpg');
}
.doctors-page .doc-sec{
  background: transparent;
  background-image: none;
}
.doctors-page .doc-sec .container .firstrow{
  margin-top: -30px;
}
.abhaya{
  font-family: 'Abhaya Libre', serif;
}


/*
============================================= Packages page
*/
.packages-page h1{
  font-size: 50px;
  margin-top: 0
}
.packages-page h4{
  line-height: 26px;
  color:#444;
}
.plan-box{
  border-radius: 25px;
}
.plan-box .price-sec{
  border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 9px;
    color: white;
}
.plan-box .price-sec h4{
  color:white;
}
.plan-box .price-sec h4:after{
  border-color: white;
  left: 44%;
}
.plan-box .content-sec .table tr td{
  padding: 16px;
  font-size: 15px;
  color: #444;
}



@media only screen and (max-width:500px) {

}
